@*@model AspNetWebApplication.Models.OfficeSpace*@

<h2>Find homes first </h2>
<p>With the limited number of homes on the current Africa. market, you need an agent with the right connections, technology and strategies to achieve your home buying or selling vision.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowPropertyResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="PropertyType" class="control-label"></label>
                <input name="PropertyType" class="form-control" placeholder="Small, Mediaum, Large"/>
  
            </div>
            
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
