@{
	ViewData["Title"] = "Home Page";
}
<div class="background">
	<h1 class="hone">Office Space in Tanzania</h1>
	<br />
	@*<p class="piv">At the heart of Tanzania's commercial center' is a burgeoning Dar es salaam. Here, we offer a number of workspaces that give you the flexibility and location your business needs. Connect across the latest technology, and stay agile in an ever-changing city using our dynamic, fully serviced offerings.</p>*@

	<div id="hero--buttons">
		<button id="finance-btn">SEE LOCATIONS</button>
		<button id="refer-btn">VIRTUAL TOUR </button>
		<p class="piv">A customized space can inspire and energize your team. And many of our custom options are available at no extra cost.</p>
	</div>
	<br />
	<h3 id="h3"><i class="fa fa-phone"></i> Call us +1 800-633-4237</h3>
	<div class="float-container">
		<a href="#" class="icon one">Book now</a>
		<a href="#" class="icon two"> in touch with us</a>
		<a href="#" class="icon three">Send us message </a>
		

	</div>
</div>
<br />
  <div class="container2">
        <div class="col">
            <div class="image">
                <div class="icon">
                    <p>hot</p>
                    <p><i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-repeat"></i>
                    </p>
                </div>
            </div>
            <div class="text">
            <p>home in merrick way</p>
            <p>enchanting three bedroom, three bath home widthspacious one bedroom, one bath...</p>
            <div>
                <p>Property</p>
                <p>Year Built</p>
                <p>Availability/Size</p>
            </div>
            <div class="features">
                <p>
					<i class="fa-solid fa-house"></i>
                House
                </p>
				<p><i class="fa-solid fa-calendar"></i> 2020</p>
                <p><i class="fa-solid fa-border-top-left"></i> 4300 <span>sq ft</span></p>
            </div>
            
        </div>
        </div>
        <div class="col">
            <div class="image">
                <div class="icon">
                    <p>hot</p>
                    <p><i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-repeat"></i>
                    </p>
                </div>
            </div>
            <div class="text">
            <p class="t">home in merrick way</p>
            <p>enchanting three bedroom, three bath home widthspacious one bedroom, one bath...</p>
            <div>
                <p>Property</p>
                <p>Year Built</p>
                <p>Availability/Size</p>
            </div>
            <div class="features">
                <p>
					<i class="fa-solid fa-building"></i>
                Office
                </p>
                <p><i class="fa-solid fa-calendar"></i> 1983</p>
                <p><i class="fa-solid fa-border-top-left"></i> 4300 <span>sq ft</span></p>
            </div>
            
            </div>
        </div>
        <div class="col">
            <div class="image">
                <div class="icon">
                    <p>hot</p>
                    <p><i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-repeat"></i>
                    </p>
                </div>
            </div>
            <div class="text">
            <p>home in merrick way</p>
            <p>enchanting three bedroom, three bath home widthspacious one bedroom, one bath...</p>
            <div>
                <p>Property</p>
                <p>Year Built</p>
                <p>Availability/Size</p>
				
            </div>
            <div class="features">
                <p>
                <i class="fa-solid fa-building"></i>
                Office
                </p>
				<p><i class="fa-solid fa-calendar"></i>2003</p>
                <p><i class="fa-solid fa-border-top-left"></i> 4300 <span>sq ft</span></p>
            </div>
            
            </div>
        </div>
    </div>



<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-12">
			<div class="title-heading">
				<h2>Flexible workspace designed around your needs</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Office Space</h4>
					<div class="card-image" style="color: #213661;">
						<i class="fas fa-laptop-code fa-5x"></i>
						
					</div>
					<p class="card-text ">Go through the course content thoroughly and enroll before the batch begins.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Meeting Rooms</h4>
					<div class="card-image" style="color: #5e371b;">
						<i class="fas fa-chalkboard-teacher fa-5x"></i>
						
					</div>
					<p class="card-text">Attend all the weekly interactive sessions from 9pm - 10pm, 4 times a week and do all your projects and assignments.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Shared Office </h4>
					<div class="card-image" style="color:#bc3330;">
						<i class="fas fa-bullseye fa-5x"></i>
					</div>
					<p class="card-text">Eureka! Get certified and Get yourself placed as an intern in one of our partner startups now that you have completed the course.</p>
				</div>
			</div>
		</div>


	</div>
</div>
<br />

<div id="contact" class="contact-area section-padding">
	<div class="container1">
		<div class="section-title text-center">
			<h1>Get in Touch</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.</p>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="contact">
					<form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
						<div class="row">
							<div class="form-group col-md-6">
								<input type="text" name="name" class="form-control" placeholder="Name" required="required">
							</div>
							<div class="form-group col-md-6">
								<input type="email" name="email" class="form-control" placeholder="Email" required="required">
							</div>
							<div class="form-group col-md-12">
								<input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
							</div>
							<div class="form-group col-md-12">
								<textarea rows="6" name="message" class="form-control" placeholder="Your Message" required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-5">
				<div class="single_address">
					<i class="fa fa-map-marker"></i>
					<h4>Our Address</h4>
					<p>3481 Melrose Place, Beverly Hills</p>
				</div>
				<div class="single_address">
					<i class="fa fa-envelope"></i>
					<h4>Send your message</h4>
					<p>Info@example.com</p>
				</div>
				<div class="single_address">
					<i class="fa fa-phone"></i>
					<h4>Call us on</h4>
					<p>(+1) 517 397 7100</p>
				</div>
				<div class="single_address">
					<i class="fa fa-clock"></i>
					<h4>Work Time</h4>
					<p>Mon - Fri: 08.00 - 16.00. <br>Sat: 10.00 - 14.00</p>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</div>
<br />
<br />
<div class="text-center">

	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

